button {
  font: inherit;
  cursor: pointer;
  background-color: rgb(56, 54, 54);
  border: 1px solid;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  height: 3rem;
  width: 6rem;
  font-size: 1rem;
}

